<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="webjars/font-awesome/5.0.8/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="css/signin.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="form-signin">
        <form name="f" th:action="@{/login}" method="POST">
            <img class="mb-4" th:src="@{/images/bootstrap-solid.svg}" alt="" width="72" height="72" />

            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Login failed. Please try again.
            </div>

            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have successfully logged out.
            </div>

            <label for="username" class="sr-only">Username</label>
            <input name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="" />

            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </form>

        <!-- Disable facebook login
        <form action="/signin/facebook" method="POST">
            <input type="hidden" name="scope" value="public_profile,email" />
            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">
                <i class="fab fa-facebook"></i> Login using Facebook
            </button>
        </form>-->

        <form action="/signin/google" method="POST">
            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">
                <i class="fab fa-google"></i> Login using Google
            </button>
        </form>

        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </div>
</body>
</html>